
/* Reset all margin and padding to 0 */
* {    
	margin: 0;
	padding: 0;
}/* Set box-sizing to border-box for all elements */
*, *::before, *::after { 
   box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#buttons-container > button {
  margin: 2%;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #3498DB;
  border: none;
}



#border-radius-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image-size, #border-radius {
  width: 12vw;
  text-align: center;
}



#avatar {
  background-color: #3498DB;
  padding: 12px;
  border-radius: 4px;
  color: white;

}



#avatar-img {
  border-style: solid;
  border-width: thick;
  border-color: orange;
  border-radius: 150px;
  margin: 3%;
}


main {
  display: flex;
  width: 800px;
  height: 525px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

